<h1>Welcome Aboard</h1>
<h2>create occasion</h2>
<div class="container-fluid">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <div>
      <%= link_to "Invite Friends", users_path, method: :get, :class => 'navbar-link'  %>
    </div>
    <div>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    </div>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</div>

